/* Begin: Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}

/* End: Common */


/* Begin: Overide bootstrap */
.active {
    border: none;
    background-color: #3d88b4 !important;
}

.list-group-item:hover {
    cursor: pointer;
    background-color: #bfe0f3;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.card-body {
    height: 100%;
    padding-left: 15px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-image: linear-gradient(to right, #67D8D8, #48D0D0);
}

.dropdown-menu {
    margin-top: 10px !important;
}

.dropdown-item:hover {
    background-color: #bfe0f3 !important;
}

/* End: Overide bootstrap */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    padding: 0 20px;
    color: #fff;
    background-color: #3c8dbc;
    z-index: 99;
}

.header-logo {
    font-size: 30px;
    color: rgb(214, 214, 7);
    font-family: "Sedan SC", serif;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-right-account {
    display: flex;
    align-items: center;
}

.content {
    margin: 70px 20px 0 20px;
}

.content-item {
    display: none;
}

.content-item.content-item-active {
    display: block;
}

.slider {
    margin-top: 15px;
}

.card-icon {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    font-size: 35px;
    background-color: #59AEAE;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.list-card {
    margin-bottom: 20px;
}

/* Form budget */
.form-container {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #45a049;
}


/* Form goal */
.goal-form-container {
    max-width: 400px;
    margin: 0 auto;
}

.goal-form-group {
    margin-bottom: 20px;
}

.goal-form-label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.goal-form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.goal-form-submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.goal-form-submit:hover {
    background-color: #45a049;
}

/* Form income */
#incomeContainer {
    max-width: 400px;
    margin: 0 auto;
}

#incomeTitle {
    font-size: 2rem;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#incomeSubmit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#incomeSubmit:hover {
    background-color: #45a049;
}

/* Modal */
.modal-content {
    max-width: 400px;
    margin: 0 auto;
    border: none;
    border-radius: 8px;
}

.modal-header {
    background-color: #3c8dbc;
    color: #fff;
    border-bottom: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.modal-title {
    font-size: 24px;
}

.modal-body {
    padding: 20px;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.modal-body .form-label {
    color: #333;
}

.modal-body .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.modal-body .form-select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.modal-body .btn-primary {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-body .btn-primary:hover {
    background-color: #45a049;
}