/* Begin: Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}

/* End: Common */


/* Begin: Overide bootstrap */
.active {
    border: none;
    background-color: #3d88b4 !important;
}

.list-group-item:hover {
    cursor: pointer;
    background-color: #bfe0f3;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 150px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 30px;
}

.card-body {
    height: 100%;
    padding-left: 15px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-image: linear-gradient(to right, #67D8D8, #48D0D0);
}

.dropdown-menu {
    margin-top: 10px !important;
}

.dropdown-item:hover {
    background-color: #bfe0f3 !important;
}

/* End: Overide bootstrap */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    padding: 0 20px;
    color: #fff;
    background-color: #3c8dbc;
    z-index: 99;
}

.header-logo {
    font-size: 30px;
    color: rgb(214, 214, 7);
    font-family: "Sedan SC", serif;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-right-account {
    display: flex;
    align-items: center;
}

.content {
    margin: 70px 20px 0 20px;
}

.content-item {
    display: none;
}

.content-item.content-item-active {
    display: block;
}

.slider {
    margin-top: 15px;
}

.card-icon {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    font-size: 35px;
    background-color: #59AEAE;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.list-card {
    margin-bottom: 20px;
}

/* Form budget */
.form-container {
    max-width: 400px;
    margin-left: 30px;
    margin-bottom: 60px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #45a049;
}


/* Form goal */
.goal-form-container {
    max-width: 400px;
    margin: 0 auto;
}

.goal-form-group {
    margin-bottom: 20px;
}

.goal-form-label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.goal-form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.goal-form-submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.goal-form-submit:hover {
    background-color: #45a049;
}

/* Form income */
#incomeContainer {
    max-width: 400px;
    margin: 0 auto;
}

#incomeTitle {
    font-size: 2rem;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#incomeSubmit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#incomeSubmit:hover {
    background-color: #45a049;
}


table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* CRUD income */
.income-form {
    margin-bottom: 20px;
}

.income-form input,
#expense-type {
    margin-right: 10px;
    padding: 5px;
}

.income-form button {
    padding: 5px 10px;
}

.edit-btn,
.delete-btn {
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    border: none;
}

#add-btn,
#update-btn {
    background-color: #4CAF50;
}

.edit-btn {
    background-color: #67D8D8;
}

.delete-btn {
    margin-left: 10px;
    background-color: #f44336;
}



/* CRUD expense */
.expense-form {
    margin-bottom: 20px;
}

.expense-form input {
    margin-right: 10px;
    padding: 5px;
}

.expense-form button {
    padding: 5px 10px;
}

.edit-expense-btn,
.delete-expense-btn,
.restore-expense-btn {
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    border: none;
}

#add-expense-btn,
#update-expense-btn {
    background-color: #4CAF50;
}

.edit-expense-btn {
    background-color: #67D8D8;
}

.delete-expense-btn {
    margin-left: 10px;
    background-color: #f44336;
}

.restore-expense-btn {
    margin-left: 10px;
    background-color: #FFA500;
}


/* Loan amout */
.loan-amount-form {
    margin-bottom: 20px;
}

.loan-amount-form input {
    margin-right: 10px;
    padding: 5px;
}

.loan-amount-form button {
    padding: 5px 10px;
}

.edit-loan-btn,
.delete-loan-btn,
.restore-loan-btn {
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    border: none;
}

#add-loan-btn,
#update-loan-btn {
    background-color: #4CAF50;
}

.edit-loan-btn {
    background-color: #67D8D8;
}

.delete-loan-btn {
    margin-left: 10px;
    background-color: #f44336;
}

.checkout-loan-btn {
    margin-left: 10px;
    background-color: #FFA500;
}


/* Form target */
.expense-form {
    margin-bottom: 20px;
}

.expense-form input[type="text"],
.expense-form input[type="date"],
.expense-form button {
    margin-right: 10px;
    padding: 5px;
}

.expense-form label {
    display: block;
}

.expense-form button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.expense-form button.edit-expense-btn {
    background-color: #67D8D8;
}

.expense-form button.delete-expense-btn {
    margin-left: 10px;
    background-color: #f44336;
}

.expense-form button.restore-expense-btn {
    margin-left: 10px;
    background-color: #FFA500;
}

/* Target */
.goal-form {
    margin-bottom: 20px;
}

.goal-form input {
    margin-right: 10px;
    padding: 5px;
}

.goal-form button {
    padding: 5px 10px;
    background-color: #4CAF50;
    /* Màu nền cho nút thêm */
    color: white;
    /* Màu chữ cho nút thêm */
    border: none;
    /* Loại bỏ viền nút */
    cursor: pointer;
    /* Thay đổi con trỏ chuột khi hover */
}

.edit-goal-btn,
.delete-goal-btn,
.restore-goal-btn {
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    border: none;
}

.edit-goal-btn {
    background-color: #67D8D8;
}

.delete-goal-btn {
    margin-left: 10px;
    background-color: #f44336;
}




/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal input[type="text"],
.modal input[type="number"],
.modal input[type="phone"],
.modal select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.modal button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}